fastapi
uvicorn
sqlmodel
asyncpg
pgvector
pydantic-settings
psycopg2-binary
ruff
openai
langchain
greenlet
passlib[bcrypt]
python-jose[cryptography]
bcrypt==4.0.1

# Testing
pytest
httpx
python-multipart
